# Webframework en server
fastapi
uvicorn[standard]

# Azure SDK's
azure-cosmos
azure-monitor-opentelemetry
azure-monitor-events-extension
azure-identity

# Env en multipart support
python-dotenv
python-multipart

# OpenTelemetry observability
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-openai

# AI-integraties
semantic-kernel[azure]==1.32.2
azure-ai-projects==1.0.0b11
azure-ai-inference==1.0.0b9
azure-search-documents
azure-ai-evaluation
openai==1.84.0

# Testtools
pytest>=8.2,<9
pytest-asyncio==0.24.0
pytest-cov==5.0.0
