<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="python" 
                  arguments="main.py" 
                  stdoutLogEnabled="true" 
                  stdoutLogFile=".\python.log" 
                  startupTimeLimit="60" 
                  requestTimeout="04:00:00">
      <environmentVariables>
        <environmentVariable name="PORT" value="8000" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
