.env
.env.sample
test.http

# systeem- en metadata
__pycache__/
*.py[cod]
*.log
*.db
*.sqlite3
.DS_Store

# versiebeheer
.git/
.gitignore

# test
tests/
*.http

# IDE/project-specifiek
.vscode/
.env
.env.sample
